<% @prototypes.each do |prototype| %>
  <%= link_to(edit_prototype_path(prototype), { :class => "prototype" }) do %>
    <h2 class="prototype-name"><%= prototype.name %></h2>
    <%= image_tag prototype.pages.first.image.url(:medium) %>
  <% end %>
<% end %>

<%= link_to 'New Prototype', new_prototype_path %>
