<h1>All Page Versions</h1>

<ul>
  <% @page_versions.each do |page_version| %>
    <li>
      <%= link_to "Version ##{ page_version.version }", prototype_page_page_version_path(@prototype, @page, page_version) %>
      <% if page_version.current? %>
        (Current)
      <% end %>
    </li>
  <% end %>
</ul>
