<h1>Editing prototype</h1>

<%= render 'form' %>

<%= link_to 'New Page', new_admin_prototype_page_path(@prototype) %> |
<%= link_to 'Show', admin_prototype_path(@prototype) %> |
<%= link_to 'Back', admin_prototypes_path %>
