<p id="notice"><%= notice %></p>

<div class="prototype">
<p>
  <b>Name:</b>
  <%= @prototype.name %>
</p>


<%= link_to 'Edit', edit_admin_prototype_path(@prototype) %> |
<%= link_to 'Back', admin_prototypes_path %>
