<h1>Editing link</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_prototype_page_link_path(@prototype, @page, @link) %> |
<%= link_to 'Back', admin_prototype_page_links_path(@prototype, @page) %>
