/*
 *= require_self
 */

@import "lib/_reset";
@import "bourbon";
@import "neat";

/* Variables
---------------------------------------------------- */

$color-black:  #222;
$color-blue:   #101c24;
$color-teal:   #5dbf88;
$color-purple: #b16ff7;
$color-pink:   #dd006f;

$min-width: 1020px;

/* General
---------------------------------------------------- */

body, html {
  background: #EEE;
  color: $color-black;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
}

.inner {
  min-width: $min-width;
}

/* Header
---------------------------------------------------- */

.icon {
  display: inline-block;
  text-indent: -30000px;
  height: 18px;
  width: 18px;
  background: #FFF;
}

/* Header
---------------------------------------------------- */

.header {
  min-width: $min-width;
  box-sizing: border-box;
  height: 40px;
  background: $color-blue;
  @include clearfix();
  color: #FFF;
  line-height: 40px;
  a {
    color: #FFF;
  }
}
.header-logo {
  @include span-columns(3);
  padding: 0 0 0 24px;
  h1 {
    font-weight: bold;
  }
}
.header-breadcrumbs {
  @include span-columns(6);
  text-align: center;
}
.header-breadcrumbs-divider {
  color: lighten($color-blue,20%);
}
.header-breadcrumbs-link {
  color: lighten($color-blue,40%) !important;
  text-decoration: none;
}
.header-user {
  @include span-columns(3);
  padding: 0 24px 0 0;
  text-align: right;
}

/* Main Menu
---------------------------------------------------- */

.mainmenu {
  min-width: $min-width;
  box-sizing: border-box;
  height: 40px;
  background: lighten($color-blue,5%);
  @include clearfix();
  color: #FFF;
  a {
    color: #FFF;
  }
}
.mainmenu-view li, .mainmenu-activity li {
  float: left;
  margin: 0 6px 0 0;
}
.mainmenu-activity-title {
  float: left;
}
.mainmenu-view {
  display: block;
  @include span-columns(4);
}
.mainmenu-activity {
  display: block;
  @include span-columns(4);
  @include shift(4);
  text-align: right;
}

/* Content
---------------------------------------------------- */

.content {
  min-width: $min-width;
  box-sizing: border-box;
  @include clearfix();
  position: relative;
  overflow: visible;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Version
---------------------------------------------------- */

.version {
  @include span-columns(8);
}

/* Activity
---------------------------------------------------- */

.activity {
  @include span-columns(4);
  background: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.activity-feed {
  display: block;
  overflow-y: scroll;
  overflow-x: visible;
  @include clearfix();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  border-bottom: 1px solid #EEE;
}

.activity-actions {
  display: block;
  @include clearfix();
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 199px;
}

.activity-item {
  padding: 24px;
  position: relative;
  border-bottom: 1px solid #EEE;
}
.activity-item-user {
  position: relative;
  height: 40px;
  @include clearfix();
  display: block;
  margin: 0 0 18px 0;
  img {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background: #222;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  span {
    display: block;
    padding: 0 0 0 52px;
    line-height: 40px;
  }
}
.activity-item-meta {
  font-size: 12px;
}

.activity-notification {
  padding: 12px 24px;
  color: #FFF;
}

.activity-item-annotation {
  border-left: 6px solid $color-purple;
}
.activity-item-annotation-number {
  height: 40px;
  width: 40px;
  display: block;
  color: #FFF;
  line-height: 40px;
  font-weight: bold;
  background: $color-purple;
  text-align: center;
  position: absolute;
  top: 24px;
  left: -20px;
}
.activity-notification-approval {
  background: $color-teal;
}
.activity-notification-like {
  background: $color-pink;
}

