/*
 *= require_self
 */

@import "lib/_reset";
@import "bourbon";
@import "neat";

$color-green: #67ab4b;
$color-teal: #1fa8c4;

body, html {
  background: #222;
  color: #EEE;
  font-family: $helvetica;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-teal;
}

.header {
  height: 60px;
  background: #111;
  margin-bottom: 2em;
}

.inner {
  @include outer-container;
}

.button {
  padding: 6px 18px;
  background: $color-green;
  color: #FFF;
}

.prototype-grid .prototype, .page-grid .page {
  text-decoration: none;
  @include span-columns(4);
  @include omega(3n);
  margin-bottom: 1.8em;
  @include pad(1em);
  background: #333;
  border-radius: 2px;
  color: #FFF;
  &:hover {
    background: #444;
  }
  h2 {
    font-weight: bold;
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto 0.5em auto;
  }
}